.video-bth {
  width: 40px;
  height: 40px;

  margin: $m-1;

  background-color: rgba(255, 255, 255, 0.573);

  border-radius: 100%;

  background-image: url("../img/image/play-input.png");
  background-repeat: no-repeat;
  background-position: center center;

  transition: 0.5s ease all;

  &:hover {
    transform: scale(1.2) rotate(360deg);
  }
}

.btn-primary {
  margin-left: $m-6;
  margin-top: $m-1;
}

.input {
  background-color: $Secondary-Dark;
}

.btn-sub {
  padding: $p-0-5 $p-4;
  margin: $m-1 $m-3;

  background-color: $Primary-Orange;
  color: $Secondary-White; 

  &:hover {
    text-decoration: none;

    color: $Secondary-White;
    transform: scale(1.1);
  }
}

.contact__btn {
  @include transition;

  border: 1px solid $Secondary-Dark;
  background-color: $Secondary-Dark;
  border-radius: 4px;

  font-size: $font-18;
  font-weight: 600;
  
  color: $Secondary-Black;

  &:hover {
    background-color: $Primary-Orange;
  }
}
