.card-title {
  font-size: $font-32;
  font-weight: 900;

  text-align: center;

  &__price {  
    color: $Secondary-White_Dark;
    font-size: $font-14;
    font-weight: 200;
  }
}

.card-team {
  font-size: $font-20;
  font-weight: 600;

  padding: $p-1 0;
}

.social {
  display: flex;
  justify-content: center;
}

.card-info{
  font-size: $font-16;
  font-weight: 200;
  
  color: $Secondary-Black;
}

.primary {
  margin: $m-2;
  text-align: center;

  font-size: $font-20 ;
  font-weight: 500;
}

.offer {
  font-size: $font-16;
  padding: $p-0-5 $p-1;
}

.card-group1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.card-product {
  border: 1px solid $Secondary-White_Dark;
  border-radius: 6px;

  width: 300px;
}
