.navbar {

  &-lists {
    display: flex;
    justify-content: space-around;

    &__list {
      margin: $m1-5;

      &:hover {
        @include transition;
        transform: scale(1.2);
      }

      &:active {
        font-weight: 700;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px $Primary-Orange;
      }

      &_link{
        @include transition;
        
        font-size: $font-20;
        color: $Secondary-White;

        transform: scale(1.2);

        &:hover {
          text-decoration: none;

          color: $Primary-Orange;
        }
      }
    }
  }
}

.navigation {
  height: 150px;

  text-align: center;

  &__title {
    font-size: $font-48;  
    color: $Secondary-White;
  }

  &__blog {
    margin: 0 auto;
    margin-top: $m-2;

    font-size: $font-32;
    font-weight: 600;
    color: $Secondary-White;

    padding: $p-0-5;

    :hover {
      text-decoration: none;
      color: $Secondary-White;
    }

    &_pages {
      @include transition;

      padding: 0 $p-1;
      color: $Secondary-White;
      font-weight: 300;

      &:hover {
        text-decoration: none;

        color: $Primary-Orange;
      }
      
    }
  }
}

