.bg-top1 {
  background-color: $Primary-Dodger_Blue;
  background-image: url("../img/image/Digital\ Manager.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;;
}

.bg-top2 {
  background-color: $Secondary-White;
  background-image: url("../img/image/Bank\ System.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}

.bg-top3 {
  background-color: $Secondary-White;
  background-image: url("../img/image/Auto\ Reminder.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}

.bg-top4 {
  background-color: $Secondary-White;
  background-image: url("../img/image/Clean\ Design.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}

.bg-top5 {
  background-color: $Secondary-White;
  background-image: url("../img/image/Secure\ Data.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}

.bg-top6 {
  background-color: $Secondary-White;
  background-image: url("../img/image/Easy\ Dashbord.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}



.function {

  &__left1{
    background-image: url("../img/image/feature1.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    
    text-align: right;

    @media screen and (max-width: 992px) {
      position: relative;
      right: 40px;
    }
  }

  &__left2{
    background-image: url("../img/image/feature2.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;

    text-align: right;

    @media screen and (max-width: 992px) {
      position: relative;
      right: 40px;
    }
  }

  &__left3{
    background-image: url("../img/image/feature3.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;

    text-align: right;

    @media screen and (max-width: 992px) {
      position: relative;
      right: 40px;
    }
  }

  &__right1{
    background-image: url("../img/image/feature4.png");
    background-repeat: no-repeat;
    background-position: 5% 50%;

    text-align: left;

    @media screen and (max-width: 992px) {
      position: relative;
      left: 20px;
    }
  }

  &__right2{
    background-image: url("../img/image/feature5.png");
    background-repeat: no-repeat;
    background-position: 5% 50%;

    text-align: left;

    @media screen and (max-width: 992px) {
      position: relative;
      left: 20px;
    }
  }

  &__right3 {
    background-image: url("../img/image/feature6.png");
    background-repeat: no-repeat;
    background-position: 5% 50%;

    text-align: left;

    @media screen and (max-width: 992px) {
      position: relative;
      left: 20px;
    }
  }
}