.firms {
  display: flex;
  justify-content: space-between;

  margin: $m-1;
}

.section1 {
  background-color: $Secondary-White_Gray;

  &__title-head {
    text-align: center;

    margin: $m-2;
    padding: $p-2;
  }

  &__lists {
    max-width: 980px;

    margin: 0 auto;

    &_list {
      display: inline-block;

      width: 290px;
      margin: $m-1;

      text-align: center;

      border-radius: 5px;
      }
  }
}