$Primary-Royal: rgba(88, 87, 233, 0.8);
$Primary_Orange: hsba(6, 63%, 99%, 1);
$Secondary-Black: rgba(39, 39, 46, 1);
$Secondary-Paragraph: hsba(240, 5%, 45%, 1);
$Secondary-White: rgb(255, 255, 255);
$Secondary-White_Dark: rgb(224, 209, 209);
$Primary-Yellow: hsba(45, 97%, 100%, 1);
$Secondary-White_Gray: rgba(230, 247, 231, 0.962);
$Primary-Dodger_Blue: rgba(56, 129, 253, 1);
$Primary-Orange: rgba(253, 110, 94, 1);
$Gradient-Blue_Gradient: rgb(16, 122, 209);
$Secondary-Paragraph_dark: hsba(218, 8%, 41%, 1);
$swiper-btn: rgba(28, 246, 12, 0.708); 
$swiper-bth_check: rgba(130, 12, 100, 0.8);
$Secondary-Dark: rgba(41, 44, 55, 0.3); 

$font: 'Heebo';

// Fonts sizes
$font-8:8px;
$font-10:10px;
$font-12:12px;
$font-14:14px;
$font-16:16px;
$font-18:18px;
$font-20:20px;
$font-24:24px;
$font-28:28px;
$font-32:32px;
$font-36:36px;
$font-48:48px;
$font-70:70px;
$font-80:80px;

//FONT-WEIGHT
$font-w-100:100;
$font-w-300:300;
$font-w-400:400;
$font-w-500:500;
$font-w-700:700;
$font-w-900:900;

//PADDING
$p-0:0;
$p-0-5:.5rem;
$p-1:1rem;
$p-1-5:1.5rem;
$p-2:2rem;
$p-3:3rem;
$p-4:4rem;
$p-5:5rem;
$p-6:6rem;

//MARGIN
$m-0:0;
$m-0-5:.5rem;
$m-1:1rem;
$m1-5:1.5rem;
$m-2:2rem;
$m-3:3rem;
$m-4:4rem;
$m-5:5rem;
$m-6:6rem;
$m-8:8rem;
$m-10:10rem;
