*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}
.container__first {
  display: flex;
}

.container2 {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}

.video-bth {
  width: 40px;
  height: 40px;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.573);
  border-radius: 100%;
  background-image: url("../img/image/play-input.png");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.5s ease all;
}
.video-bth:hover {
  transform: scale(1.2) rotate(360deg);
}

.btn-primary {
  display: table;
  margin: 0 auto;
  margin-top: 1rem;
}

.input {
  background-color: rgba(41, 44, 55, 0.3);
}

.btn-sub {
  padding: 0.5rem 4rem;
  margin: 1rem 3rem;
  background-color: rgb(253, 110, 94);
  color: rgb(255, 255, 255);
}
.btn-sub:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transform: scale(1.1);
}

.contact__btn {
  transition: all 0.3s;
  border: 1px solid rgba(41, 44, 55, 0.3);
  background-color: rgba(41, 44, 55, 0.3);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(39, 39, 46);
}
.contact__btn:hover {
  background-color: rgb(253, 110, 94);
}

.swiper-custom {
  margin-top: 5%;
  position: relative;
}

.swiper-custom2 {
  position: relative;
  right: 10px;
}

.swiper {
  width: 655px;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-prev, .swiper-button-next {
  top: unset !important;
  bottom: 170px;
  position: absolute;
  background-color: rgba(28, 246, 12, 0.708);
  height: 30px;
  width: 34px;
  border-radius: 50%;
}
@media screen and (max-width: 992px) {
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}

.swiper-button-prev::after, .swiper-button-next::after {
  color: rgba(130, 12, 100, 0.8);
  font-size: 18px;
}

.swiper-button-prev {
  left: calc(50% - 360px);
}

.swiper-button-next {
  right: calc(50% - 360px);
}

.swiper-pagination {
  margin: -50px auto;
}

.swiper-button-prev2, .swiper-button-next2 {
  top: unset !important;
  bottom: 45px;
  position: absolute;
  background-color: rgba(28, 246, 12, 0.708);
  height: 30px;
  width: 34px;
  border-radius: 50%;
}

.swiper-button-prev2 {
  left: calc(50% - 245px);
}

.swiper-button-next2 {
  right: calc(50% - 245px);
}

.form {
  display: flex;
}
@media screen and (max-width: 992px) {
  .form {
    flex-flow: column-reverse;
  }
}
.form__img {
  display: flex;
  justify-content: center;
  border-style: none;
  padding-top: 6rem;
}
.form__inform {
  flex: 0 0 36%;
  padding-left: 6rem;
  padding-top: 6rem;
}
.form__inform_header {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.form__inform_lists {
  margin-top: 3rem;
}
.form__inform_lists-item1 {
  line-height: 166%;
  padding-left: 85px;
  background-image: url("../img/image/01.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
  margin: 1rem 0;
}
.form__inform_lists-item2 {
  line-height: 166%;
  padding-left: 85px;
  background-image: url("../img/image/02.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
  margin: 1rem 0;
}
.form__inform_lists-item3 {
  line-height: 166%;
  padding-left: 85px;
  background-image: url("../img/image/03.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
  margin: 1rem 0;
}

.form2 {
  background-color: rgb(16, 122, 209);
  background-image: linear-gradient(5deg, rgba(56, 129, 253, 0.9), rgba(56, 129, 253, 0.8)), url("../img/image/grid.png");
}
.form2__title {
  text-align: center;
  padding: 2rem;
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.form2__features {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .form2__features {
    display: grid;
    grid-template-columns: repeat(2, [col] 2fr);
    grid-template-rows: repeat(2, [row] 0fr);
  }
}
@media screen and (max-width: 992px) {
  .form2__features_image {
    grid-column: col 1/span 2;
    grid-row: row 2/row -1;
    margin: 0 auto;
    max-width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .form2__features_image-phone {
    max-width: 80%;
  }
}
.form2__features_items {
  margin: 0 auto;
}
.form2__features_items-item {
  padding: 6rem 5rem;
  font-size: 18px;
  font-weight: 600;
  height: 220px;
  color: rgb(255, 255, 255);
}

.form3 {
  max-width: 400px;
}
.form3__title {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding-top: 3rem;
}
.form3__commends {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.form3__names {
  font-size: 16px;
  font-weight: 400;
  padding-top: 1rem;
  color: rgb(255, 255, 255);
}
.form3__significance {
  font-size: 10px;
  font-weight: 200;
  color: rgb(224, 209, 209);
  padding: 0.5rem;
}

.form4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}
.form4__post_title {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}
.form4__post_info {
  font-size: 14px;
  font-weight: 400;
  padding: 1rem 0;
  color: rgb(39, 39, 46);
  border-bottom: 1px solid rgb(224, 209, 209);
}

.form5 {
  max-width: 305px;
  margin: 1rem;
}
.form5__title {
  font-size: 20px;
  font-weight: 600;
  margin: 2rem 0;
}
.form5__info {
  font-size: 14px;
  font-weight: 600;
}
.form5__info_link {
  color: rgb(39, 39, 46);
}
.form5__info_link:hover {
  text-decoration: none;
  color: rgb(253, 110, 94);
}
.form5__smallText {
  font-size: 10px;
  opacity: 0.5;
}

.form6 {
  max-width: 770px;
  padding-top: 1.5rem;
  margin-left: 2rem;
}
@media screen and (max-width: 1200px) {
  .form6 {
    display: none;
  }
}
.form6__title {
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 2rem;
}
.form6__text {
  font-size: 16px;
  font-weight: 300;
  padding: 1rem 0;
  opacity: 0.9;
}
.form6__blog-footer {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .form6__blog-footer {
    display: flex;
    flex-flow: column;
    max-width: 375px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .form6__blog-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1201px) {
  .content-footer {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .content-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card-title {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}
.card-title__price {
  color: rgb(224, 209, 209);
  font-size: 14px;
  font-weight: 200;
}

.card-team {
  font-size: 20px;
  font-weight: 600;
  padding: 1rem 0;
}

.card-info {
  font-size: 16px;
  font-weight: 200;
  color: rgb(39, 39, 46);
}

.primary {
  margin: 2rem;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.offer {
  font-size: 16px;
  padding: 0.5rem 1rem;
}

.card-group1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.card-product {
  border: 1px solid rgb(224, 209, 209);
  border-radius: 6px;
  width: 300px;
}

.posts {
  margin-top: 1rem;
}
.posts__link {
  transition: all 0.3s;
  font-size: 24px;
  color: rgb(224, 209, 209);
  transform: scale(1.2);
}
.posts__link:hover {
  text-decoration: none;
  color: rgb(253, 110, 94);
}

@media screen and (max-width: 992px) {
  .navbar {
    display: none;
  }
}
.navbar-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navbar-lists__list {
  margin: 1.5rem;
}
.navbar-lists__list:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}
.navbar-lists__list:active {
  font-weight: 700;
}
.navbar-lists__list:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgb(253, 110, 94);
}
.navbar-lists__list_link {
  transition: all 0.3s;
  font-size: 20px;
  color: rgb(255, 255, 255);
  transform: scale(1.2);
}
.navbar-lists__list_link:hover {
  text-decoration: none;
  color: rgb(253, 110, 94);
}

.navigation {
  height: 150px;
  text-align: center;
}
.navigation__title {
  font-size: 48px;
  color: rgb(255, 255, 255);
}
.navigation__blog {
  margin: 0 auto;
  margin-top: 2rem;
  font-size: 32px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
}
.navigation__blog :hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.navigation__blog_pages {
  transition: all 0.3s;
  padding: 0 1rem;
  color: rgb(255, 255, 255);
  font-weight: 300;
}
.navigation__blog_pages:hover {
  text-decoration: none;
  color: rgb(253, 110, 94);
}

.test-navbar {
  position: relative;
  bottom: 14px;
  float: right;
  padding: 0.5rem 1rem;
}
@media screen and (min-width: 993px) {
  .test-navbar {
    display: none;
    clear: both;
  }
}

.bg-top1 {
  background-color: rgb(56, 129, 253);
  background-image: url("../img/image/Digital Manager.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}

.bg-top2 {
  background-color: rgb(255, 255, 255);
  background-image: url("../img/image/Bank System.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}

.bg-top3 {
  background-color: rgb(255, 255, 255);
  background-image: url("../img/image/Auto Reminder.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}

.bg-top4 {
  background-color: rgb(255, 255, 255);
  background-image: url("../img/image/Clean Design.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}

.bg-top5 {
  background-color: rgb(255, 255, 255);
  background-image: url("../img/image/Secure Data.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}

.bg-top6 {
  background-color: rgb(255, 255, 255);
  background-image: url("../img/image/Easy Dashbord.png");
  background-repeat: no-repeat;
  background-position: 1% 15%;
}

.function__left1 {
  background-image: url("../img/image/feature1.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  text-align: right;
}
@media screen and (max-width: 992px) {
  .function__left1 {
    position: relative;
    right: 40px;
  }
}
.function__left2 {
  background-image: url("../img/image/feature2.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  text-align: right;
}
@media screen and (max-width: 992px) {
  .function__left2 {
    position: relative;
    right: 40px;
  }
}
.function__left3 {
  background-image: url("../img/image/feature3.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  text-align: right;
}
@media screen and (max-width: 992px) {
  .function__left3 {
    position: relative;
    right: 40px;
  }
}
.function__right1 {
  background-image: url("../img/image/feature4.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .function__right1 {
    position: relative;
    left: 20px;
  }
}
.function__right2 {
  background-image: url("../img/image/feature5.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .function__right2 {
    position: relative;
    left: 20px;
  }
}
.function__right3 {
  background-image: url("../img/image/feature6.png");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  text-align: left;
}
@media screen and (max-width: 992px) {
  .function__right3 {
    position: relative;
    left: 20px;
  }
}

.social {
  display: flex;
}
.social__item_socialfb {
  display: block;
  width: 32px;
  height: 32px;
  margin-top: 2rem;
  margin-right: 0.5rem;
  background-image: url("../img/image/facebook.png");
  background-repeat: no-repeat;
  background-position: 60% 15%;
}
.social__item_socialfb:hover {
  background-image: url("../img/image/icons8-facebook-f-24.png");
  background-position: 60% -30%;
}
.social__item_social-tw {
  display: block;
  width: 32px;
  height: 32px;
  margin-top: 2rem;
  margin-right: 0.5rem;
  background-image: url("../img/image/twitter.png");
  background-repeat: no-repeat;
  background-position: 60% 15%;
}
.social__item_social-tw:hover {
  background-image: url("../img/image/icons8-twitter-24.png");
  background-position: 60% -30%;
}
.social__item_social-you {
  display: block;
  width: 32px;
  height: 32px;
  margin-top: 2rem;
  margin-right: 0.5rem;
  background-image: url("../img/image/YouTube.png");
  background-repeat: no-repeat;
  background-position: 60% 15%;
}
.social__item_social-you:hover {
  background-image: url("../img/image/icons8-youtube-24.png");
  background-position: 60% -30%;
}
.social__item_social-inst {
  display: block;
  width: 32px;
  height: 32px;
  margin-top: 2rem;
  margin-right: 0.5rem;
  background-image: url("../img/image/instagram.png");
  background-repeat: no-repeat;
  background-position: 60% 15%;
}
.social__item_social-inst:hover {
  background-image: url("../img/image/icons8-instagram-24.png");
  background-position: 60% -30%;
}

.social {
  display: flex;
}
.social__item_socialfb_White {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 2rem;
  margin-right: 0.5rem;
  background-image: url("../img/image/icons8-facebook-24.png");
  background-repeat: no-repeat;
  background-position: 60% 15%;
}
.social__item_socialfb_White:hover {
  background-image: url("../img/image/icons8-facebook-48.png");
  background-position: 60% -30%;
}
.social__item_social-tw_White {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 2rem;
  margin-right: 0.5rem;
  background-image: url("../img/image/icons8-twitter-24.png");
  background-repeat: no-repeat;
  background-position: 60% 15%;
}
.social__item_social-tw_White:hover {
  background-image: url("../img/image/icons8-twitter-48.png");
  background-position: 60% -30%;
}
.social__item_social-you_White {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 2rem;
  margin-right: 0.5rem;
  background-image: url("../img/image/icons8-youtube-24.png");
  background-repeat: no-repeat;
  background-position: 60% 15%;
}
.social__item_social-you_White:hover {
  background-image: url("../img/image/icons8-youtube-48.png");
  background-position: 60% -30%;
}
.social__item_social-inst_White {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 2rem;
  margin-right: 0.5rem;
  background-image: url("../img/image/icons8-instagram-24.png");
  background-repeat: no-repeat;
  background-position: 60% 15%;
}
.social__item_social-inst_White:hover {
  background-image: url("../img/image/icons8-instagram-48.png");
  background-position: 60% -30%;
}

.questions__container {
  position: relative;
  top: 50px;
  padding-bottom: 200px;
  margin: 0 auto;
}

.questions {
  background-color: rgb(255, 255, 255);
}
.questions__form {
  max-width: 700px;
}
@media screen and (max-width: 992px) {
  .questions__form {
    max-width: 100%;
  }
}
.questions__form input,
.questions textarea {
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  padding: 13px 0 15px 16px;
  border: 1px solid rgba(41, 44, 55, 0.3);
  border-radius: 4px;
  background: rgba(230, 247, 231, 0.962);
}
.questions__before-header {
  font-size: 16px;
  font-weight: 600;
  color: rgba(130, 12, 100, 0.8);
  text-align: center;
  padding: 1rem;
}
.questions__title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  max-width: 400px;
  margin: 1rem auto;
}
.questions__form-name, .questions__form-mail, .questions__form-agree {
  display: flex;
  margin: 1rem 0;
}

.item-fname,
.item-email {
  margin-right: 25px;
}

.item-fname,
.item-lname,
.item-email,
.item-phone,
.item-agree,
.questions__btn {
  flex-basis: 50%;
}

textarea {
  height: 128px;
  opacity: 0.7;
}

.label-checkbox {
  display: flex;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}

.input-checkbox {
  position: relative;
  left: 75px;
  top: 23px;
}

.contact-form {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 992px) {
  .contact-form {
    flex-flow: column;
    justify-content: center;
  }
}

.contact {
  width: 300px;
  margin-top: 2rem;
  padding-left: 2rem;
}
.contact__item {
  border-left: 5px solid rgb(253, 110, 94);
}
.contact__item:nth-child(2) {
  margin-top: 4rem;
}
.contact__item:nth-child(3) {
  margin-top: 4rem;
}
.contact__item_title {
  font-size: 28px;
  font-weight: 500;
}
.contact__item_link {
  transition: all 0.3s;
  position: relative;
  top: 17px;
  left: 24px;
  font-size: 20px;
  color: rgba(41, 44, 55, 0.3);
}
.contact__item_link:hover {
  text-decoration: none;
  color: rgba(88, 87, 233, 0.8);
}

header {
  background-color: rgb(16, 122, 209);
  background-image: linear-gradient(5deg, rgba(56, 129, 253, 0.9), rgba(56, 129, 253, 0.8)), url("../img/image/grid.png");
}

.first {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .first {
    display: flex;
    flex-flow: column;
  }
}
.first__left {
  margin-top: 6rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 1200px) {
  .first__left {
    display: grid;
    justify-content: center;
  }
}
.first__left_title {
  font-size: 48px;
  color: rgb(255, 255, 255);
}
.first__left_product {
  display: flex;
  padding-top: 2rem;
}
.first__left_product-probe {
  transition: all 0.3s;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 18px;
  font-weight: 900;
  color: rgb(39, 39, 46);
  border: 1px solid rgb(253, 110, 94);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.first__left_product-probe:hover {
  text-decoration: none;
  color: rgb(39, 39, 46);
  background-color: rgb(253, 110, 94);
}
.first__left_product-video {
  margin: auto 0.5rem;
  font-size: 28px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 1200px) {
  .first__right {
    margin: 0 auto;
  }
}

.firms {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .firms {
    display: none;
  }
}

.section1 {
  background-color: rgba(230, 247, 231, 0.962);
}
.section1__title-head {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding: 2rem;
}
.section1__title-price {
  color: rgba(88, 87, 233, 0.8);
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding-top: 6rem;
}
.section1__lists {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .section1__lists {
    max-width: 800px;
  }
}
@media screen and (max-width: 820px) {
  .section1__lists {
    max-width: 400px;
  }
}
.section1__lists_list {
  display: inline-block;
  width: 360px;
  height: 115px;
  margin: 1rem;
  text-align: end;
  vertical-align: bottom;
  border-radius: 5px;
}
.section1__lists_list-titleWhite {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: left;
  padding-top: 1rem;
  padding-left: 5rem;
}
.section1__lists_list-title {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding-top: 1rem;
  padding-left: 5rem;
}
.section1__lists_list-info {
  text-align: left;
  padding-top: 1.5rem;
  padding-left: 5rem;
  font-size: 16px;
  font-weight: 500;
}
.section1__lists_list-info1 {
  text-align: left;
  padding-top: 1.5rem;
  padding-left: 5rem;
  font-size: 16px;
  font-weight: 500;
}
.section1__listsFooter {
  max-width: 950px;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .section1__listsFooter {
    max-width: 472px;
  }
}
.section1__listsFooter_list {
  display: inline-block;
  width: 440px;
  height: 115px;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  text-align: end;
  vertical-align: bottom;
  border-radius: 5px;
}
.section1__listsFooter_list-titleWhite {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: rgb(255, 255, 255);
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.section1__listsFooter_list-title {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.section1__listsFooter_list-info {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.section1__listsFooter_list-info1 {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: rgb(255, 255, 255);
  padding-left: 1rem;
  padding-top: 0.5rem;
}
.section1__listsFooter_list1 {
  background-color: rgb(56, 129, 253);
}

.footer__bg-dark {
  background-color: rgb(39, 39, 46);
  margin-top: 2rem;
}

.footer__container {
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 992px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }
}

.footer__column:first-child {
  width: 279px;
}

.footer__column {
  padding: 1rem;
}

.footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
  margin-top: 24px;
  margin-bottom: 38px;
}

.footer__title {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.footer__link {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  opacity: 0.6;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
}
.footer__link:hover {
  transform: scale(1.1);
  text-decoration: none;
  color: rgb(253, 110, 94);
}
.footer__link :active {
  font-weight: 900;
}

.footer__column:last-child {
  width: 286px;
}

.sign-form {
  width: 286px;
  margin-top: 32px;
  margin-bottom: 10px;
}

.sign-form__field {
  width: 100%;
  height: 36px;
  padding-left: 12px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-image: url("../img/image/arrow.png");
  background-repeat: no-repeat;
  background-position: 96% 41%;
}

.sign-form__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  opacity: 0.6;
}

.footer-bottom {
  background-color: rgb(253, 110, 94);
  color: rgb(255, 255, 255);
}

.footer-bottom__container {
  margin: 0 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom__container p {
  font-weight: 400;
  font-size: 12px;
  color: rgb(255, 255, 255);
  opacity: 0.6;
}

.footer-bottom__container a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  opacity: 0.6;
}/*# sourceMappingURL=main.css.map */